.card-container {
    background-color: #464646;
    border-radius: 1rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 1rem;
 /*    margin-right: 0.8rem;
    margin-left: 0.8rem; */
    cursor: pointer;
    width:100%;
    
    .img-container {
        display: flex;
        justify-content: center;
    }
    .info-container {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    h2 {
        font-size: 1rem;
        text-align: left;
    }
    h3 {
        font-size: 1rem;
    }
    span {
        font-size: 1rem;
    }
    img {
        /* height: 220px; */
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 0.7rem;
    }
    .followers {
        opacity: 0.8;
        font-size: 0.9rem;
    }
}
