header {
    background-color: var(--color-bg-header);
    span {
        color: #fff;
    }
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            margin-right: 10px;
            height: 40px;
        }
    }
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    .search {
        width: 70%;
    }
}

/* Media Queries (Small Devices) */

@media screen and (max-width: 600px) {
    span {
        display: none;
    }
}
