.albums-container {
    margin-top: 1rem;
}

section {
    width: 80%;
    margin-left: 10%;
}

h1 {
    color: #fff;
}

@media screen and (max-width: 600px) {
    .albums-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    section {
        width: 100%;
        margin-left: 0;
    }
}
