.search-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    input{
        border-radius: 4px;
        padding: 10px;
        margin-left: 0.5rem;
        width: 100%;
    }
}
